.accent-text {
  &__word {
    display: inline-block;
    padding-top: 2.5rem;
    margin-right: 5px;
    overflow: hidden;

    & > span {
      transform: translateY(1.5em);
      display: inline-block;
    }
  }

  .screen.active &__word > span {
    animation-name: textAppearFromBottom;
    animation-fill-mode: both;
  }
}


