.animation-screen {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  //background-image: url("../img/scene.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;

  // todo: фон временно добавлен для работы с 3D моделями на главном экране
  //background-color: #1c1c1f;
  //z-index: 999;

  @include retina {
    //background-image: url("../img/scene@2x.png");
  }

  @media (orientation: portrait) {
    //background-image: url("../img/scene-mob.png");

    @include retina {
      //background-image: url("../img/scene-mob@2x.png");
    }
  }
}

#canvas--animation-screen {
  width: 100%;
  height: 100%;
}
