svg.svg__winning-word {
  animation: zoomOut 767ms cubic-bezier(0.21, 0, 0, 1) both;

  & > g {
    animation: letterArrear 432ms cubic-bezier(0.21, 0, 0.8, 1) both;
  }
}

svg.svg__lose-word > g {
  animation: letterArrear 432ms cubic-bezier(0.21, 0, 0.8, 1) both,
    letterMove 778ms linear both;

  &.l2 {
    animation-delay: 43ms;
  }

  &.l3 {
    animation-delay: 86ms;
  }

  &.l4 {
    animation-delay: 108ms;
  }

  &.l5 {
    animation-delay: 130ms;
  }

  &.l6 {
    animation-delay: 151ms;
  }

  &.l7 {
    animation-delay: 216ms;
  }

  &.l8 {
    animation-delay: 303ms;
  }

  &.l9 {
    animation-delay: 389ms;
  }
}

@keyframes zoomOut {
  from {
    transform: scale(1.15);
  }

  to {
    transform: scale(1);
  }
}

@keyframes letterMove {
  0% {
    transform: translate(0, 0);
    animation-timing-function: cubic-bezier(0.88, 0, 1, 1);
  }
  67% {
    transform: translate(0, 99px);
    animation-timing-function: cubic-bezier(0.33, 0, 0.67, 1);
  }
  83% {
    transform: translate(0, 94px);
    animation-timing-function: cubic-bezier(0.33, 0, 0.67, 1);
  }

  100% {
    transform: translate(0, 99px);
  }
}

@keyframes letterArrear {
  from {
    stroke-dasharray: 0 100%;
  }

  to {
    stroke-dasharray: 100% 0;
  }
}
