.transition {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  pointer-events: none;

  &--background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $c-dark;
    transform: translateY(-100%);

    &__show {
      animation: slideInUpBig .4s ease-in forwards;
    }
  }
}

