@keyframes fadeInRight {
  from {
    transform: translateX(2rem);
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  from {
    transform: translateY(2rem);
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInUpBig {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}
